*
!*/
!.gitignore

!home-manager/**
!rsynapse/**

!alacritty/**
alacritty/dark.theme
alacritty/light.theme
alacritty/theme.toml
!ghostty/**

!libinput-gestures.conf

!ags/**
!.zshrc
!foot/**
!fuzzel/**

!niri/**
niri/theme.kdl
niri/theme_dark.kdl
niri/theme_light.kdl

!hypr/**
hypr/hyprland.conf
hypr/secret_env.conf
hypr/arch.conf
hypr/monitors.conf
hypr/monitor_status.conf
hypr/workspaces.conf

!uwsm/env

!scripts/**
!systemd/
!systemd/user/
!systemd/user/locus-autorun.service
!systemd/user/locus-niri.service
!systemd/user/default.target.wants/
!systemd/user/default.target.wants/locus-autorun.service
!systemd/user/default.target.wants/locus-niri.service
!nvim
!zsh/**
zsh/.zcompdump*
zsh/.zcompcache
!TODO.md
