*
!*/
!.gitignore

!home-manager/**

!alacritty/**
alacritty/dark.theme
alacritty/light.theme
alacritty/theme.toml

!ags/**
!.zshrc
!foot/**
!fuzzel/**

!hypr/**
hypr/hyprland.conf
hypr/monitors.conf
hypr/monitor_status.conf
hypr/workspaces.conf

!scripts/**
!nvim
!zsh/**
zsh/.zcompdump*
zsh/.zcompcache
!TODO.md
