layout {
    focus-ring {
        on
        width 1
        active-color "#8a9a7b"
    }
    shadow {
        on
        softness 8
        spread 1
        offset x=0 y=0
        color "#c5c9c765"
        inactive-color "#14171d"
    }
    
    background-color  "#252527"
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

cursor {
    xcursor-theme "phinger-cursors-light"
    xcursor-size 24
}
