layout {
    focus-ring {
        off
    }
    border {
        on
        width 1
        active-color "#545464"
    }
    shadow {
        on
        softness 4
        spread 1
        offset x=0 y=0
        color "#909398"
        inactive-color "#90939866"
    }
    background-color "#e2e1df"
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}


cursor {
    xcursor-theme "phinger-cursors-dark"
    xcursor-size 24
}
