layout {
    focus-ring {
        off
    }
    border {
        on
        width 1
        active-color "#8a9a7b"
    }
    shadow {
        on
        softness 8
        spread 2
        offset x=0 y=2
        // color "#c5c9c765"
        color "#14171d"
    }
    
    background-color  "#1f1f26"
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

cursor {
    xcursor-theme "phinger-cursors-light"
    xcursor-size 24
}
