layout {
    focus-ring {
        on
        width 1.5
        active-color "#545464"
    }
    shadow {
        on
        softness 8
        spread 1
        offset x=0 y=0
        color "#909398"
        inactive-color "#E2E1DF"
    }
    background-color "#CACAC7"
}

cursor {
    xcursor-theme "BreezeX-RosePine-Linux"
    xcursor-size 24
}
