palette = 0=${C0}
palette = 1=${C1}
palette = 2=${C2}
palette = 3=${C3}
palette = 4=${C4}
palette = 5=${C5}
palette = 6=${C6}
palette = 7=${C7}
palette = 8=${C8}
palette = 9=${C9}
palette = 10=${C10}
palette = 11=${C11}
palette = 12=${C12}
palette = 13=${C13}
palette = 14=${C14}
palette = 15=${C15}

background = ${BG}
foreground = ${FG}
cursor-color = ${CURSOR}
selection-background = ${SEL_BG}
selection-foreground = ${SEL_FG}
