[Unit]
Description=Rsynapse Notifications
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/v47/.local/bin/rsynapse-notifications
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target

