@import 'common.scss';

.bar {
  background-color: transparent;

  transition: 100ms;
  min-height: 32px;

  .bar-widget {
    padding: 0 6pt;
  }

  .barblock {
    padding: 0 4pt;
    background-color: #{$bg};
    border-radius: 12px;
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.panel-button {
  label {
    font-size: 12pt;
    font-weight: bold;
  }

  >button {
    padding: 2px 2px;
  }

  image {
    margin: 0 2px;
  }
}

.rsynapse-search {
  min-width: 300pt;
}

.tab-carousel {
  color: #{$ws_empty};

  >carouseltab {
    font-weight: bolder;
  }

  .selected {
    color: #{$fg};
  }
}

.tab-num {
  font-weight: bolder;
  color: #{$ws_active};
  padding-left: 4px;
  padding-right: 3px;
  border: 1px solid #{$ws_active};
  border-radius: 4px;
}

.mpris-widget {
  >label {
    font-weight: bolder;
  }

  .paused {
    color: #{$player_stopped};
  }

  .stopped {
    font-weight: normal;
    color: #{$player_stopped};
  }
}

levelindicator {
  min-height: 8px;
  min-width: 8px;

  >.track {
    color: #{$bat_track};
  }

  &.line {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &.arc {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &.sys {
    >.level {
      &.warn {
        color: #{$sys_warn};
      }

      &.high {
        color: #{$sys_high};
      }

      &.danger {
        color: #{$sys_danger};
      }

      &.critical {
        color: #{$sys_critical};
      }
    }
  }

  &.battery {
    >.level {
      &.default {
        color: #{$bat_low};
      }

      &.ok {
        color: #{$bat_normal};
      }
    }
  }
}

.pomodoro {
  label {
    font-weight: bold;
    font-size: 12pt;
  }
}

@keyframes urgent {
  from {
    background-color: #{$ws_occupied};
    outline: $outline-width * 0.5 solid #{$ws_occupied};
    outline-offset: 0;
  }

  to {
    background-color: #{$ws_urgent};
    outline: $outline-width * 0.5 solid #{$ws_urgent};
    outline-offset: $outline-offset * 0.5;
  }
}
