@import 'common.scss';

.bar-dropdown {
  min-width: 500px;
  > * {
    @include elevation-1;
    border-radius: 16px;
    margin: 16px;
    background-color: #{$bg_deep};
  }
}

.quicktoggle-container {
  padding: 16px;
  > box {
    > * {
      margin: 8px;
    }
  }
}

.list-page {
  min-height: 400px;
}

.quicktoggle {
  min-width: 180px;

  & .power-saver {
    color: #{$powersaver_fg};
    background: #{$powersaver};
  }

  & .performance {
    color: #{$performance_fg};
    background: #{$performance};
  }
}
