@mixin animate {
  transition: 150ms;
}

@mixin elevation-0 {
  box-shadow: none;
}

@mixin elevation-1 {
  box-shadow: 0px 2px 4px 0px #{$shadow};
}

@mixin elevation-2 {
  box-shadow: 0px 4px 16px 4px #{$shadow};
}

@mixin elevation-3 {
  box-shadow: 0px 8px 32px 8px #{$shadow};
}

materialicon {
  -gtk-icon-size: 20px;

  &.tinted {
    color: #{$mi_tinted};
  }

  &.p24 {
    -gtk-icon-size: 24px;
  }
}
