$blur: 4px;
$spread: 0px;

@mixin animate {
  transition: 150ms;
}

@mixin elevation-0 {
  box-shadow: none;
}

@mixin elevation-1 {
  box-shadow: 0px 0px $blur $spread #{$shadow};
}

@mixin elevation-2 {
  box-shadow: 0px 2px $blur $spread #{$shadow};
}

@mixin elevation-3 {
  box-shadow: 0px 3px $blur $spread #{$shadow};
}

materialicon {
  -gtk-icon-size: 20px;

  &.tinted {
    color: #{$mi_tinted};
  }

  &.p24 {
    -gtk-icon-size: 24px;
  }
}
