/* base */
@define-color bg @theme_bg_color;

/* TODO move to theme */
@define-color bg_deep #1c1c1cea;

@define-color fg @theme_fg_color;

@define-color osd_bg mix(@theme_bg_color, @theme_fg_color, 0.1);

/* bar */
@define-color ws_active @accent_color;
@define-color ws_occupied @theme_fg_color;
@define-color ws_empty alpha(@theme_fg_color, 0.3);
@define-color ws_urgent @red_2;
@define-color app_title @dark_2;

@define-color powersaver @success_bg_color;
@define-color powersaver_fg @success_fg_color;
@define-color performance @warning_bg_color;
@define-color performance_fg @warning_fg_color;

@define-color bat_low @red_2;
@define-color bat_normal @theme_fg_color;
@define-color bat_track alpha(@theme_fg_color, 0.3);

@define-color sys_warn @yellow_4;
@define-color sys_ok @green_4;
@define-color sys_high @yellow_4;
@define-color sys_danger @red_3;
@define-color sys_critical @red_4;

/* global */
@define-color shadow @shade_color;

@define-color mi_tinted alpha(@theme_fg_color, 0.3);

@define-color player_stopped alpha(@theme_fg_color, 0.6);

@define-color bg_mixed_red mix(@bg, @red_1, 0.3);
@define-color bg_mixed_yellow mix(@bg, @yellow_1, 0.3);
@define-color bg_mixed_green mix(@bg, @green_1, 0.2);
