@import 'common.scss';

window.OSD {
  padding: 10px;
  box.OSD {
    @include elevation-2;
    border-radius: 24px;
    background-color: #{$osd_bg};
    padding: 13px 16px;
    margin: 50px;
  }

  image {
    padding: 12px;
  }

  levelbar {
    trough {
      margin: 0.6rem;
    }

    block {
      min-height: 2rem;
    }
  }
}
