@import 'common.scss';

.rsynapse-window {
  background: transparent;
}

.rsynapse {

  @include elevation-2;
  background: #{$osd_bg};

  margin: 80px;
  padding: 16px;
  border-radius: 16px;

  .rsynapse-items {
    padding: 12px;
    min-width: 500px;
  }
}
