layout {
    focus-ring {
        off
    }
    border {
        on
        width 1
        active-color "${ACCENT}"
    }
    shadow {
        on
        softness 8
        spread 2
        offset x=0 y=2
        // color "#c5c9c765"
        color "${SHADOW}"
    }
    
    background-color  "${WORKSPACE_BG}"
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

cursor {
    xcursor-theme "${CURSOR_THEME}"
    xcursor-size 24
}
