layout {
    border {
        active-color "${ACCENT}"
    }
    shadow {
        color "${SHADOW}"
        inactive-color "${SHADOW_INACTIVE}"
    }
    background-color "${WORKSPACE_BG}"
}

cursor {
    xcursor-theme "${CURSOR_THEME}"
}
